.inputBox {
    width: 600px;
    box-sizing: border-box;
    display: block;
}

label {
    display: block;
    font-weight: bold;
}

button {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px 20px;
}